<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!--<link rel="stylesheet" type="text/css" href="../../public/index.css"/>-->
</head>
<body>
    <div id="login-warp">
        <ul>
            <li>
                <label>用户</label>
                <input type="text" id="username"/>
            </li>
            <li>
                <label>密码</label>
                <input type="text" id="password"/>
            </li>
            <li>
                <input type="button" value="登录" id="login"/>
            </li>
            <li>
                <input type="button" value="注册" id="register"/>
            </li>
        </ul>
    </div>
</body>
</html>